@use '../../abstracts/placeholders' as ph;
@use '../../abstracts/variables' as var;

.logout-container {
  background-color: var.$charade;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  min-width: 500px;
  min-height: 300px;
  max-width: 500px;
  max-height: 500px;
  border-radius: 20px;
}