.my-button {
  margin: 5px;
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
  background-color: #00c5fc;
  color: white;
  font-weight: bold;
  height: 45px;
  transition: all 0.2s;
  cursor: pointer;
  border: 2px solid #00c5fc;
  font-size: 16px;
}

.my-button:hover {
  background-color: white;
  color: #00c5fc;
  transform: translateY(-4px);
}

.my-button:active {
  opacity: 0.5;
}