@use '../../abstracts/variables' as var;

.channel-page {
  background-color: var.$charade;
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 100%;
  border-radius: 20px;

  &__head {
    display: flex;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    height: 100%;
    justify-content: space-between;

    span,
    p {
      margin: 10px 0;
      font-size: 20px;
    }
  }

  #channel-page__name {
    font-size: 50px;
  }

  .user-profile {
    &__img img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 15px;
    }
  }

  &__owner {
    display: flex;
    flex-direction: column;

    span:nth-child(1) {
      font-weight: bold;
      // padding-left: 1em;
    }

    img {
      height: 3.5em;
      width: 3.5em;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 1em;
    }

    &__info {
      display: flex;
      align-items: center;
    }
  }
}

hr {
  margin: 30px 0;
}

.channel-page-content {
  display: grid;
  grid-template-columns: 350px 350px 350px;
}

.channel-video {
  margin: 30px 0;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.video-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
}

.video-info span {
  margin-right: 10px;
}

.channel-video .icon {
  margin-right: 10px;
}