.sidebar {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  width: 80px;
  background-color: #16181d;
  transition: width 0.3s;
}

.sidebar-content {
  opacity: 0;
  width: 350px;
  transform: translateX(-350px);
  transition: transform 0.6s, opacity 1s;
  /* border: 1px solid blue; */
}

.sidebar:hover {
  width: 350px;
}

.sidebar:hover .sidebar-content {
  opacity: 1;
  transform: translateX(0px);
}

.sidebar-chevron {
  /* display: flex; */
  position: absolute;
  top: 50%;
  right: 0;
}

.sidebar-chevron-line1,
.sidebar-chevron-line2 {
  height: 25px;
  width: 3px;
  background-color: white;
}

.sidebar-chevron-line1 {
  transform-origin: bottom right;
  transition: all 0.6s;
  transform: translateX(-8px) rotate(-45deg);
}

.sidebar-chevron-line2 {
  transform-origin: top right;
  transition: all 0.6s;
  transform: translateX(-8px) rotate(45deg);
}

.sidebar:hover .sidebar-chevron-line1 {
  transform: translateX(-8px) translateY(16px) rotate(-45deg);
}

.sidebar:hover .sidebar-chevron-line2 {
  transform: translateX(-8px) translateY(-16px) rotate(45deg);
}

.sidebar-content {

}

.sidebar-content > a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
  /* border: 1px solid red; */
}

.sidebar-content-img {
  margin: 0 15px 0 20px;
  font-size: 30px;
}

.sidebar-content > a:hover {
  background-color: #25272e;
  /* color: #00c5fc; */
}

/* .sidebar-content > a svg {
  transition: color 0.05s;
} */

.sidebar-content > a span {
  /* transition: transform 0.3s, color 0.05s; */
  transition: all 0.3s;
}

.sidebar-content > a:hover span {
  transform: translateX(20px);
}