@use '../../../abstracts/variables' as var;

.round-button {
  background-color: var.$sky;
  color: var.$white;
  outline: none;
  border: none;
  height: 3em;
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 1.5em;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: var.$white;
    color: var.$dark;
  }
}