@use '../../../abstracts/variables' as var;

.my-input {
  outline: none;
  padding: 0.5em;
  border-radius: 10px;
  border: 2px solid var.$charade;
  width: 95%;
  height: 3em;
  font-size: 1rem;
  transition: all 0.2s;
}

.my-input:focus {
  border-color: var.$sky;
  width: 100%;
}