@use '../abstracts/variables' as var;

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var.$gunmetal;
  color: var.$white;
}

// .background {
//   // display: flex;
//   // justify-content: center;
//   // width: 100%;

//   >div {
//     margin: 7em 0;
//   }
// }

.pages {
  display: flex;
  justify-content: center;
  // align-items: center;
  margin: 7em 0;
}