@use './variables' as var;

%container {
  background-color: var.$charade;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-width: 500px;
  min-height: 300px;
  max-width: 500px;
  max-height: 500px;
  border-radius: 20px;
}