@use '../../abstracts/variables' as var;

.user-profile {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  padding: 4em;
  width: 90%;
  border-radius: 20px;

  &__head {
    display: flex;
  }

  &__img img {
    width: 15em;
    height: 15em;
    object-fit: cover;
    border-radius: 15px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 3em;

    span {
      margin: 10px 0;
      font-size: 20px;
    }
  }

  #user-profile__username {
    font-size: 2rem;
    font-weight: bold;
  }

  hr {
    margin: 2em 0 2em 0;
  }
}