@use '../../abstracts/variables' as var;

.video-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .video-js {
    $br: 5px;
    width: 90%;
    border-radius: $br;
    
    .vjs-tech {
      border-radius: $br;
    }

    .vjs-control-bar {
      border-radius: $br;
      color: var.$sky;
      background-color: rgba(43, 51, 63, 0.97);
    }
  }

  .video-under {
    width: 100%;
    padding: 5%;

    .video-buttons-and-title {
      display: flex;
      justify-content: space-between;
    }
  }

  .video-title {
    margin-bottom: 0.5em;
  }

  hr {
    margin: 1.5em 0;
  }
}