.users-page-container {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  padding: 60px;
  min-width: 1500px;
  min-height: 1200px;
  border-radius: 20px;
}

.users-page-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  /* border: 2px solid red; */
}

.users-page-user-info {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  /* border: 2px solid green; */
}

.users-page-user-info span {
  margin-top: 10px;
}

.users-page-user-info img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 20px;
  display: flex;
}

.users-page-user-buttons {
  /* border: 2px solid blue; */
}